@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 7px;
	}

	.scrollbar::-webkit-scrollbar-track {
		@apply bg-blue-950;
		border-radius: 100vh;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply bg-blue-600;
		border-radius: 100vh;
	}
}
@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;

		@apply scrollbar;
		@apply text-white;
	}
	html {
		@apply bg-[#121212];
		font-size: 62.5%;
	}
	main {
		@apply w-auto;
		@apply h-auto;
	}
}

.toast-enter {
	opacity: 0;
}

.toast-enter-active {
	opacity: 1;
	transition-duration: 500ms;
}

.toast-exit {
	opacity: 1;
}

.toast-exit-active {
	opacity: 0;
	transition-duration: 500ms;
}
